# Entorno IntelliJ IDEA / Android Studio
.idea/
*.iml
.gradle/
local.properties

# Archivos de compilación (Evita subir binarios al repo)
build/
out/
bin/
*.class

# Archivos temporales de Sistema Operativo
.DS_Store
Thumbs.db

# Temporales de LaTeX (Para cuando compilen el informe)
*.aux
*.log
*.out
*.toc